# Variables de Entorno - Frontend React (Vite)

# URL de la API del Backend (Reemplazar con la URL de Render, Railway, AWS, etc)
# Si lo dejas vacío en desarrollo local, por defecto apuntará a http://localhost:8080
VITE_API_URL=https://fitprep-backend.onrender.com
#asdsdqasdasd