
ALTER TABLE usuario ADD COLUMN estado VARCHAR(20) NOT NULL DEFAULT 'ACTIVO';
-- =====================================================================
-- FitPrep - Limpieza final y Seed Manual para Pruebas QA
-- ContraseÃ±a universal: password123
-- =====================================================================

TRUNCATE TABLE detalle_plan, plan_semanal, linea_pedido, pedido_ecommerce CASCADE;
TRUNCATE TABLE suscripcion CASCADE;
TRUNCATE TABLE plato CASCADE;
TRUNCATE TABLE usuario CASCADE;
TRUNCATE TABLE negocio CASCADE;

-- 1. Insert 3 Negocios (1 Admin, 2 Tenants)
VALUES 
 (1, 'FitPrep Admin', 'admin', '00000000000', '000000000', 'ACTIVO', 'Scale', 'Madrid', CURRENT_TIMESTAMP),
 (2, 'CoffeeFit', 'coffeefit', '20123456789', '999111222', 'ACTIVO', 'Growth', 'Madrid', CURRENT_TIMESTAMP),
 (3, 'PrimeFit', 'primefit', '20987654321', '999111333', 'ACTIVO', 'Growth', 'Madrid', CURRENT_TIMESTAMP);

-- Resincronizar secuencias
SELECT setval(pg_get_serial_sequence('negocio', 'id'), (SELECT MAX(id) FROM negocio));

-- 2. Insert Users (Password is password123)
VALUES
 (1, 'Super', 'Admin', 'admin@fitprep.com', '$2a$10$WVL6RyzeGLd5QNj6j52jJ.YLJVwJN2mAPMV0YaUjcT/HIqpH9dCnu', 'ADMIN', 
'ACTIVO'),
 (2, 'DueÃ±o', 'CoffeeFit', 'coffeefit@gmail.com', '$2a$10$WVL6RyzeGLd5QNj6j52jJ.YLJVwJN2mAPMV0YaUjcT/HIqpH9dCnu', 
'TENANT', 'ACTIVO'),
 (3, 'DueÃ±o', 'PrimeFit', 'primefit@gmail.com', '$2a$10$WVL6RyzeGLd5QNj6j52jJ.YLJVwJN2mAPMV0YaUjcT/HIqpH9dCnu', 
'TENANT', 'ACTIVO'),
 (2, 'Test', 'Athlete', 'user1@gmail.com', '$2a$10$WVL6RyzeGLd5QNj6j52jJ.YLJVwJN2mAPMV0YaUjcT/HIqpH9dCnu', 'ATHLETE', 
'ACTIVO');

SELECT setval(pg_get_serial_sequence('usuario', 'id'), (SELECT MAX(id) FROM usuario));

-- 3. Platos CoffeeFit
VALUES
 (2, 'CafÃ© Proteico & Avena', 'Avena cocida con proteÃna sabor vainilla, servido con cafÃ© negro.', 12.00, 350.00, 
30.00, 45.00, 5.00, TRUE, 
'https://images.unsplash.com/photo-1517686469429-8bdb88b9f907?auto=format&fit=crop&w=800&q=80'),
 (2, 'Sandwich de Pavo y Palta', 'Pan integral con pechuga de pavo asada, palta y tomate.', 15.50, 420.00, 25.00, 
35.00, 15.00, TRUE, 'https://images.unsplash.com/photo-1619860860774-1e2e17343432?auto=format&fit=crop&w=800&q=80'),
 (2, 'Bowl de Frutos Rojos', 'Yogur griego con mix de frutos rojos, chÃa y almendras.', 14.00, 280.00, 20.00, 25.00, 
10.00, TRUE, 'https://images.unsplash.com/photo-1494597564530-871f2b93ac55?auto=format&fit=crop&w=800&q=80'),
 (2, 'Pollo Teriyaki Express', 'Pollo glaseado en salsa teriyaki sin azÃºcar con arroz de coliflor.', 22.00, 390.00, 
40.00, 15.00, 10.00, TRUE, 
'https://images.unsplash.com/photo-1598514982205-f36b96d1e8d4?auto=format&fit=crop&w=800&q=80'),
 (2, 'Omelette Fit', 'Omelette de 3 claras y 1 yema con espinaca y champiÃ±ones.', 13.00, 220.00, 24.00, 5.00, 8.00, 
TRUE, 'https://images.unsplash.com/photo-1510693062635-f09b5550dbdd?auto=format&fit=crop&w=800&q=80');

-- 4. Platos PrimeFit
VALUES
 (3, 'Prime Beef Bowl', 'Lomo de res a la plancha, arroz integral y espÃ¡rragos.', 28.00, 600.00, 45.00, 50.00, 15.00, 
TRUE, 'https://images.unsplash.com/photo-1543339308-43e59d6b73a6?auto=format&fit=crop&w=800&q=80'),
 (3, 'SalmÃ³n Grillado Keto', 'Filete de salmÃ³n fresco con ensalada de pepino y vinagreta de limÃ³n.', 32.00, 450.00, 
38.00, 5.00, 25.00, TRUE, 
'https://images.unsplash.com/photo-1467003909585-2f8a72700288?auto=format&fit=crop&w=800&q=80'),
 (3, 'Pasta Proteica de Pollo', 'Pasta a base de lentejas con trozos de pechuga en salsa roja.', 24.00, 520.00, 50.00, 
60.00, 8.00, TRUE, 'https://images.unsplash.com/photo-1621996346565-e3dbc646d9a9?auto=format&fit=crop&w=800&q=80'),
 (3, 'Wrap Prime Vegano', 'Tortilla de espinaca con hummus, tofu, zanahoria y lechuga.', 18.00, 340.00, 18.00, 40.00, 
12.00, TRUE, 'https://images.unsplash.com/photo-1626700051175-6818013e1d4f?auto=format&fit=crop&w=800&q=80'),
 (3, 'AtÃºn Sellado con SÃ©samo', 'MedallÃ³n de atÃºn con costra de sÃ©samo y vegetales al wok.', 29.00, 380.00, 
42.00, 12.00, 14.00, TRUE, 
'https://images.unsplash.com/photo-1501595091296-3aa953fc4ed0?auto=format&fit=crop&w=800&q=80');

SELECT setval(pg_get_serial_sequence('plato', 'id'), (SELECT MAX(id) FROM plato));
-- =====================================================================
-- FitPrep Â· Esquema inicial
-- =====================================================================

-- 1. Tabla Negocio (Tenants)
CREATE TABLE negocio (
    id BIGSERIAL PRIMARY KEY,
    nombre_comercial VARCHAR(150) NOT NULL,
    slug VARCHAR(50) NOT NULL UNIQUE,
    ruc VARCHAR(11) NOT NULL UNIQUE,
    telefono VARCHAR(15),
    estado VARCHAR(20) NOT NULL DEFAULT 'ACTIVO',
    fecha_registro TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP
);

-- 2. Tabla Usuario (Clientes)
CREATE TABLE usuario (
    id BIGSERIAL PRIMARY KEY,
    negocio_id INT NOT NULL,
    nombres VARCHAR(100) NOT NULL,
    apellidos VARCHAR(100) NOT NULL,
    email VARCHAR(150) NOT NULL UNIQUE,
    password_hash VARCHAR(255) NOT NULL,
    rol VARCHAR(20) NOT NULL DEFAULT 'ATHLETE',
    objetivo_fitness VARCHAR(50),
    requerimiento_kcal DOUBLE PRECISION,
    req_proteinas_g DOUBLE PRECISION,
    req_carbohidratos_g DOUBLE PRECISION,
    req_grasas_g DOUBLE PRECISION,
    CONSTRAINT fk_usuario_negocio FOREIGN KEY (negocio_id) REFERENCES negocio(id) ON DELETE CASCADE
);

-- 3. Tabla Plato (CatÃ¡logo)
CREATE TABLE plato (
    id BIGSERIAL PRIMARY KEY,
    negocio_id INT NOT NULL,
    nombre VARCHAR(120) NOT NULL,
    descripcion TEXT,
    precio DOUBLE PRECISION NOT NULL,
    calorias DOUBLE PRECISION NOT NULL,
    proteinas DOUBLE PRECISION NOT NULL,
    carbohidratos DOUBLE PRECISION NOT NULL,
    grasas DOUBLE PRECISION NOT NULL,
    disponible BOOLEAN NOT NULL DEFAULT TRUE,
    CONSTRAINT fk_plato_negocio FOREIGN KEY (negocio_id) REFERENCES negocio(id) ON DELETE CASCADE
);

-- 4. Tabla Plan Semanal (Cabecera)
CREATE TABLE plan_semanal (
    id BIGSERIAL PRIMARY KEY,
    negocio_id INT NOT NULL,
    usuario_id BIGINT NOT NULL,
    fecha_inicio_semana DATE NOT NULL,
    estado_pago VARCHAR(20) NOT NULL DEFAULT 'PENDIENTE',
    monto_total DOUBLE PRECISION NOT NULL,
    fecha_creacion TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT fk_plan_negocio FOREIGN KEY (negocio_id) REFERENCES negocio(id) ON DELETE CASCADE,
    CONSTRAINT fk_plan_usuario FOREIGN KEY (usuario_id) REFERENCES usuario(id) ON DELETE CASCADE
);

-- 5. Tabla Detalle Plan (DistribuciÃ³n)
CREATE TABLE detalle_plan (
    id BIGSERIAL PRIMARY KEY,
    plan_semanal_id BIGINT NOT NULL,
    plato_id BIGINT NOT NULL,
    dia_semana VARCHAR(15) NOT NULL,
    tipo_comida VARCHAR(20) NOT NULL,
    cantidad INT NOT NULL DEFAULT 1,
    CONSTRAINT fk_detalle_plan FOREIGN KEY (plan_semanal_id) REFERENCES plan_semanal(id) ON DELETE CASCADE,
    CONSTRAINT fk_detalle_plato FOREIGN KEY (plato_id) REFERENCES plato(id) ON DELETE RESTRICT
);

-- Ãndices para el filtrado multi-tenant (columna @TenantId) y accesos frecuentes
CREATE INDEX idx_usuario_negocio ON usuario (negocio_id);
CREATE INDEX idx_plato_negocio ON plato (negocio_id);
CREATE INDEX idx_plan_negocio ON plan_semanal (negocio_id);
CREATE INDEX idx_plan_semana ON plan_semanal (fecha_inicio_semana, estado_pago);
CREATE INDEX idx_detalle_plan ON detalle_plan (plan_semanal_id);
CREATE INDEX idx_detalle_plato ON detalle_plan (plato_id);
-- =====================================================================
-- FitPrep Â· Datos de ejemplo (seed)
-- ContraseÃ±a en claro para todos los usuarios: password123
-- Hash BCrypt generado con la misma configuraciÃ³n de Spring Security.
-- =====================================================================

-- Negocio de ejemplo (tenant id = 1)
VALUES (1, 'FitPrep Demo', 'fitprep-demo', '20123456789', '999888777', 'ACTIVO');

-- Usuarios del tenant 1
-- Admin del negocio (rol TENANT: puede crear/editar/eliminar platos)
                     objetivo_fitness, requerimiento_kcal, req_proteinas_g, req_carbohidratos_g, req_grasas_g)
VALUES
 (1, 'Admin', 'FitPrep', 'admin@fitprep.com',
  '$2a$10$WVL6RyzeGLd5QNj6j52jJ.YLJVwJN2mAPMV0YaUjcT/HIqpH9dCnu', 'TENANT',
  NULL, NULL, NULL, NULL, NULL),
 (1, 'Bruno', 'Deportista', 'atleta@fitprep.com',
  '$2a$10$WVL6RyzeGLd5QNj6j52jJ.YLJVwJN2mAPMV0YaUjcT/HIqpH9dCnu', 'ATHLETE',
  'PERDIDA_GRASA', 2200.00, 165.00, 220.00, 60.00);

-- CatÃ¡logo de platos del tenant 1
VALUES
 (1, 'Pechuga a la plancha con quinua', 'Pechuga de pollo, quinua y vegetales al vapor', 18.50, 520.00, 48.00, 45.00, 
12.00, TRUE),
 (1, 'Bowl de salmÃ³n', 'SalmÃ³n, arroz integral y palta', 24.00, 610.00, 40.00, 50.00, 25.00, TRUE),
 (1, 'Ensalada de atÃºn', 'AtÃºn, huevo, hojas verdes y aceite de oliva', 15.00, 380.00, 34.00, 12.00, 20.00, TRUE),
 (1, 'Wrap de pavo', 'Tortilla integral, pavo, vegetales y hummus', 16.00, 450.00, 30.00, 40.00, 15.00, TRUE);

-- Resincronizar la secuencia de negocio tras el INSERT con id explÃ­cito
SELECT setval(pg_get_serial_sequence('negocio', 'id'), (SELECT MAX(id) FROM negocio));

-- =====================================================================
-- FitPrep Â· ExpansiÃ³n para Super Admin y E-Commerce
-- =====================================================================

-- 1. AÃ±adir campos 'plan' y 'ciudad' a negocio
ALTER TABLE negocio ADD COLUMN plan VARCHAR(50) NOT NULL DEFAULT 'Starter';
ALTER TABLE negocio ADD COLUMN ciudad VARCHAR(100) NOT NULL DEFAULT 'Madrid';

-- 2. Tabla Pedido E-commerce (Cabecera)
CREATE TABLE pedido_ecommerce (
    id BIGSERIAL PRIMARY KEY,
    negocio_id INT NOT NULL,
    usuario_id BIGINT NOT NULL,
    estado VARCHAR(30) NOT NULL DEFAULT 'PENDIENTE', -- PENDING, PAID, PREPARING, SHIPPED, DELIVERED, CANCELLED
    monto_total DOUBLE PRECISION NOT NULL,
    direccion_entrega VARCHAR(255),
    fecha_entrega DATE,
    fecha_creacion TIMESTAMP NOT NULL DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT fk_pedido_negocio FOREIGN KEY (negocio_id) REFERENCES negocio(id) ON DELETE CASCADE,
    CONSTRAINT fk_pedido_usuario FOREIGN KEY (usuario_id) REFERENCES usuario(id) ON DELETE CASCADE
);

-- 3. Tabla Linea Pedido E-commerce (Detalle)
CREATE TABLE linea_pedido (
    id BIGSERIAL PRIMARY KEY,
    pedido_id BIGINT NOT NULL,
    plato_id BIGINT NOT NULL,
    cantidad INT NOT NULL DEFAULT 1,
    precio_unitario DOUBLE PRECISION NOT NULL,
    CONSTRAINT fk_linea_pedido FOREIGN KEY (pedido_id) REFERENCES pedido_ecommerce(id) ON DELETE CASCADE,
    CONSTRAINT fk_linea_plato FOREIGN KEY (plato_id) REFERENCES plato(id) ON DELETE RESTRICT
);

-- 4. Actualizar datos existentes de ejemplo en negocio
UPDATE negocio SET plan = 'Growth', ciudad = 'Madrid' WHERE id = 1;

-- Ãndices para e-commerce
CREATE INDEX idx_pedido_negocio ON pedido_ecommerce (negocio_id);
CREATE INDEX idx_pedido_usuario ON pedido_ecommerce (usuario_id);
CREATE INDEX idx_linea_pedido ON linea_pedido (pedido_id);
-- Seed Super Admin user for local testing
-- ContraseÃ±a en claro: password123
VALUES (1, 'Super', 'Admin', 'superadmin@fitprep.com', 
        '$2a$10$WVL6RyzeGLd5QNj6j52jJ.YLJVwJN2mAPMV0YaUjcT/HIqpH9dCnu', 'ADMIN');
-- =====================================================================
-- FitPrep Â· MigraciÃ³n para Popular Negocios y Platos en BD
-- =====================================================================

-- 1. Insertar Negocios Reales del Mockup (si no existen)
VALUES
 (2, 'FitKitchen Madrid', 'fitkitchen', '20123456001', '912345678', 'ACTIVO', 'Pro', 'Madrid'),
 (3, 'GymForce Kitchen', 'gymforce', '20123456002', '934567890', 'ACTIVO', 'Growth', 'Barcelona'),
 (4, 'MacroBox', 'macrobox', '20123456003', '961234567', 'ACTIVO', 'Starter', 'Valencia'),
 (5, 'Nutrilab', 'nutrilab', '20123456004', '954567890', 'ACTIVO', 'Pro', 'Sevilla'),
 (6, 'LeanMeal Studio', 'leanmeal', '20123456005', '944567890', 'ACTIVO', 'Starter', 'Bilbao'),
 (7, 'VitalCo', 'vitalco', '20123456006', '952345678', 'ACTIVO', 'Growth', 'MÃ¡laga')
ON CONFLICT (id) DO NOTHING;

-- Resincronizar la secuencia de negocio
SELECT setval(pg_get_serial_sequence('negocio', 'id'), (SELECT MAX(id) FROM negocio));

-- 2. Insertar Platos para FitKitchen (id = 2) si no estÃ¡n ya registrados
-- Evitamos duplicados buscando por nombre y negocio_id
SELECT 2, 'Pollo al LimÃ³n & Quinoa', 'Pechuga de pollo al limÃ³n con quinoa real y vegetales asados.', 28.50, 520.00, 
45.00, 52.00, 14.00, TRUE
WHERE NOT EXISTS (SELECT 1 FROM plato WHERE negocio_id = 2 AND nombre = 'Pollo al LimÃ³n & Quinoa');

SELECT 2, 'Pechuga de Pollo Teriyaki', 'Pollo glaseado en salsa teriyaki baja en sodio con arroz jazmÃn.', 26.00, 
480.00, 48.00, 38.00, 12.00, TRUE
WHERE NOT EXISTS (SELECT 1 FROM plato WHERE negocio_id = 2 AND nombre = 'Pechuga de Pollo Teriyaki');

SELECT 2, 'SalmÃ³n con EspÃ¡rragos', 'SalmÃ³n fresco grillado acompaÃ±ado de espÃ¡rragos y patatas baby.', 35.00, 
580.00, 42.00, 24.00, 28.00, TRUE
WHERE NOT EXISTS (SELECT 1 FROM plato WHERE negocio_id = 2 AND nombre = 'SalmÃ³n con EspÃ¡rragos');

SELECT 2, 'Avena con Frutos Rojos', 'Avena cremosa cocida con leche de almendras y frutos rojos.', 15.00, 380.00, 
12.00, 64.00, 6.00, TRUE
WHERE NOT EXISTS (SELECT 1 FROM plato WHERE negocio_id = 2 AND nombre = 'Avena con Frutos Rojos');

-- 3. Insertar Platos para GymForce Kitchen (id = 3)
SELECT 3, 'Pollo BBQ con Arroz Integral', 'Pollo deshilachado en salsa BBQ artesanal con arroz integral.', 24.50, 
560.00, 44.00, 60.00, 14.00, TRUE
WHERE NOT EXISTS (SELECT 1 FROM plato WHERE negocio_id = 3 AND nombre = 'Pollo BBQ con Arroz Integral');

SELECT 3, 'Ensalada CÃ©sar de Pollo', 'Hojas verdes, pechuga de pollo, crutones de garbanzo y aderezo light.', 22.00, 
420.00, 36.00, 22.00, 20.00, TRUE
WHERE NOT EXISTS (SELECT 1 FROM plato WHERE negocio_id = 3 AND nombre = 'Ensalada CÃ©sar de Pollo');

SELECT 3, 'Lomo Saltado Fit', 'Cortes de carne magra, cebolla, tomate, pimientos, servido con arroz y papas 
horneadas.', 32.00, 620.00, 46.00, 55.00, 18.00, TRUE
WHERE NOT EXISTS (SELECT 1 FROM plato WHERE negocio_id = 3 AND nombre = 'Lomo Saltado Fit');

-- 4. Insertar Platos para MacroBox (id = 4)
SELECT 4, 'Bowl Vegano Proteico', 'Tofu orgÃ¡nico marinado, garbanzos, quinua, aguacate y aderezo tahini.', 25.00, 
490.00, 22.00, 58.00, 18.00, TRUE
WHERE NOT EXISTS (SELECT 1 FROM plato WHERE negocio_id = 4 AND nombre = 'Bowl Vegano Proteico');

SELECT 4, 'Curry de Lentejas', 'Guiso cremoso de lentejas con leche de coco y espinacas, servido con arroz integral.', 
23.00, 450.00, 18.00, 65.00, 12.00, TRUE
WHERE NOT EXISTS (SELECT 1 FROM plato WHERE negocio_id = 4 AND nombre = 'Curry de Lentejas');

-- 5. Insertar Platos para Nutrilab (id = 5)
SELECT 5, 'Pollo al Curry & Coliflor', 'Pollo en salsa curry suave con arroz de coliflor and zanahorias baby.', 27.00, 
390.00, 42.00, 18.00, 14.00, TRUE
WHERE NOT EXISTS (SELECT 1 FROM plato WHERE negocio_id = 5 AND nombre = 'Pollo al Curry & Coliflor');

SELECT 5, 'Pavo Asado con Camote', 'Pechuga de pavo asada al horno con purÃ© de camote (batata) sin azÃºcar.', 28.00, 
440.00, 38.00, 48.00, 10.00, TRUE
WHERE NOT EXISTS (SELECT 1 FROM plato WHERE negocio_id = 5 AND nombre = 'Pavo Asado con Camote');

-- 6. Insertar Platos para LeanMeal Studio (id = 6)
SELECT 6, 'Wrap de Tofu Light', 'Tortilla integral baja en carbohidratos, tofu sellado, vegetales y crema de yogur 
griego.', 19.50, 320.00, 16.00, 28.00, 10.00, TRUE
WHERE NOT EXISTS (SELECT 1 FROM plato WHERE negocio_id = 6 AND nombre = 'Wrap de Tofu Light');

SELECT 6, 'Pescado Blanco al Papillote', 'Filete de pescado al vapor con juliana de verduras y aceite de oliva.', 
26.00, 310.00, 35.00, 12.00, 11.00, TRUE
WHERE NOT EXISTS (SELECT 1 FROM plato WHERE negocio_id = 6 AND nombre = 'Pescado Blanco al Papillote');

-- 7. Insertar Platos para VitalCo (id = 7)
SELECT 7, 'Hamburguesa de Lentejas y Quinua', 'MedallÃ³n de lentejas y quinua con pan integral, lechuga y tomate.', 
21.00, 460.00, 18.00, 56.00, 14.00, TRUE
WHERE NOT EXISTS (SELECT 1 FROM plato WHERE negocio_id = 7 AND nombre = 'Hamburguesa de Lentejas y Quinua');

SELECT 7, 'Fettuccine de Espinaca con Pesto', 'Pasta artesanal de espinaca con pesto de albahaca, nueces y tofu 
salteado.', 24.00, 530.00, 20.00, 62.00, 19.00, TRUE
WHERE NOT EXISTS (SELECT 1 FROM plato WHERE negocio_id = 7 AND nombre = 'Fettuccine de Espinaca con Pesto');

-- Resincronizar la secuencia de plato
SELECT setval(pg_get_serial_sequence('plato', 'id'), (SELECT MAX(id) FROM plato));

-- 8. Insertar Plan Semanal Inicial de Bruno (usuario_id = 2) para simular comidas de hoy en el dashboard (solo si no 
tiene planes)
SELECT 1, 2, '2026-07-06', 'APROBADO', 87.50
WHERE NOT EXISTS (SELECT 1 FROM plan_semanal WHERE usuario_id = 2);

-- Insertar detalles de plan semanales asociados al plan creado
-- Buscamos el plan reciÃ©n insertado para el usuario_id = 2
SELECT (SELECT MAX(id) FROM plan_semanal WHERE usuario_id = 2), 1, 'Lun', 'Almuerzo', 1
WHERE EXISTS (SELECT 1 FROM plan_semanal WHERE usuario_id = 2) 
  AND NOT EXISTS (SELECT 1 FROM detalle_plan dp WHERE dp.plan_semanal_id = (SELECT MAX(id) FROM plan_semanal WHERE 
usuario_id = 2));

SELECT (SELECT MAX(id) FROM plan_semanal WHERE usuario_id = 2), 4, 'Lun', 'Cena', 1
WHERE EXISTS (SELECT 1 FROM plan_semanal WHERE usuario_id = 2)
  AND (SELECT count(*) FROM detalle_plan WHERE plan_semanal_id = (SELECT MAX(id) FROM plan_semanal WHERE usuario_id = 
2)) < 8;

SELECT (SELECT MAX(id) FROM plan_semanal WHERE usuario_id = 2), 2, 'Mar', 'Almuerzo', 1
WHERE EXISTS (SELECT 1 FROM plan_semanal WHERE usuario_id = 2)
  AND (SELECT count(*) FROM detalle_plan WHERE plan_semanal_id = (SELECT MAX(id) FROM plan_semanal WHERE usuario_id = 
2)) < 8;

SELECT (SELECT MAX(id) FROM plan_semanal WHERE usuario_id = 2), 3, 'MiÃ©', 'Almuerzo', 1
WHERE EXISTS (SELECT 1 FROM plan_semanal WHERE usuario_id = 2)
  AND (SELECT count(*) FROM detalle_plan WHERE plan_semanal_id = (SELECT MAX(id) FROM plan_semanal WHERE usuario_id = 
2)) < 8;

SELECT (SELECT MAX(id) FROM plan_semanal WHERE usuario_id = 2), 4, 'Jue', 'Almuerzo', 1
WHERE EXISTS (SELECT 1 FROM plan_semanal WHERE usuario_id = 2)
  AND (SELECT count(*) FROM detalle_plan WHERE plan_semanal_id = (SELECT MAX(id) FROM plan_semanal WHERE usuario_id = 
2)) < 8;

SELECT (SELECT MAX(id) FROM plan_semanal WHERE usuario_id = 2), 1, 'Vie', 'Almuerzo', 1
WHERE EXISTS (SELECT 1 FROM plan_semanal WHERE usuario_id = 2)
  AND (SELECT count(*) FROM detalle_plan WHERE plan_semanal_id = (SELECT MAX(id) FROM plan_semanal WHERE usuario_id = 
2)) < 8;

SELECT (SELECT MAX(id) FROM plan_semanal WHERE usuario_id = 2), 2, 'SÃ¡b', 'Almuerzo', 1
WHERE EXISTS (SELECT 1 FROM plan_semanal WHERE usuario_id = 2)
  AND (SELECT count(*) FROM detalle_plan WHERE plan_semanal_id = (SELECT MAX(id) FROM plan_semanal WHERE usuario_id = 
2)) < 8;

SELECT (SELECT MAX(id) FROM plan_semanal WHERE usuario_id = 2), 3, 'Dom', 'Almuerzo', 1
WHERE EXISTS (SELECT 1 FROM plan_semanal WHERE usuario_id = 2)
  AND (SELECT count(*) FROM detalle_plan WHERE plan_semanal_id = (SELECT MAX(id) FROM plan_semanal WHERE usuario_id = 
2)) < 8;

-- Resincronizar secuencia
SELECT setval(pg_get_serial_sequence('plan_semanal', 'id'), (SELECT MAX(id) FROM plan_semanal));
SELECT setval(pg_get_serial_sequence('detalle_plan', 'id'), (SELECT MAX(id) FROM detalle_plan));
-- =====================================================================
-- FitPrep - Limpieza y reseteo de datos a pedido del usuario
-- ContraseÃ±a en claro para todos los nuevos usuarios: password123
-- =====================================================================

-- 1. Limpiar la base de datos de operaciones transaccionales
TRUNCATE TABLE detalle_plan, plan_semanal, linea_pedido, pedido_ecommerce CASCADE;

-- 2. Limpiar platos
TRUNCATE TABLE plato CASCADE;

-- 3. Eliminar todos los usuarios que no sean Super Admin (rol ADMIN)
DELETE FROM usuario WHERE rol != 'ADMIN';

-- 4. Borrar todos los negocios excepto el ID=1 (al que pertenece el ADMIN)
DELETE FROM negocio WHERE id != 1;

-- 5. Actualizar el Negocio 1 para que sea CoffeeFit
UPDATE negocio SET nombre_comercial = 'CoffeeFit', slug = 'coffeefit', ruc = '20123456789' WHERE id = 1;

-- 6. Crear el Negocio 2 (PrimeFit)
VALUES (2, 'PrimeFit', 'primefit', '20987654321', '999111222', 'ACTIVO', 'Growth', 'Madrid');

-- Resincronizar la secuencia de negocio
SELECT setval(pg_get_serial_sequence('negocio', 'id'), (SELECT MAX(id) FROM negocio));

-- 7. Insertar los 2 Atletas (Usuarios 1 y 2)
VALUES
 (1, 'Mike', 'Rivas', 'user1@gmail.com', '$2a$10$WVL6RyzeGLd5QNj6j52jJ.YLJVwJN2mAPMV0YaUjcT/HIqpH9dCnu', 'ATHLETE', 
'Aumento Muscular', 2800.00, 180.00, 300.00, 70.00),
 (1, 'Matias', 'Escobar', 'user2@gmail.com', '$2a$10$WVL6RyzeGLd5QNj6j52jJ.YLJVwJN2mAPMV0YaUjcT/HIqpH9dCnu', 
'ATHLETE', 'PÃ©rdida de Peso', 2000.00, 160.00, 150.00, 50.00);

-- 8. Insertar los 2 Restaurantes (Owners de CoffeeFit y PrimeFit)
VALUES
 (1, 'DueÃ±o', 'CoffeeFit', 'coffeefit@gmail.com', '$2a$10$WVL6RyzeGLd5QNj6j52jJ.YLJVwJN2mAPMV0YaUjcT/HIqpH9dCnu', 
'TENANT'),
 (2, 'DueÃ±o', 'PrimeFit', 'primefit@gmail.com', '$2a$10$WVL6RyzeGLd5QNj6j52jJ.YLJVwJN2mAPMV0YaUjcT/HIqpH9dCnu', 
'TENANT');

-- 9. Insertar el CatÃ¡logo para CoffeeFit (negocio_id = 1)
VALUES
 (1, 'CafÃ© Proteico & Avena', 'Avena cocida con proteÃna sabor vainilla, servido con cafÃ© negro.', 12.00, 350.00, 
30.00, 45.00, 5.00, TRUE),
 (1, 'Sandwich de Pavo y Palta', 'Pan integral con pechuga de pavo asada, palta y tomate.', 15.50, 420.00, 25.00, 
35.00, 15.00, TRUE),
 (1, 'Bowl de Frutos Rojos', 'Yogur griego con mix de frutos rojos, chÃa y almendras.', 14.00, 280.00, 20.00, 25.00, 
10.00, TRUE),
 (1, 'Pollo Teriyaki Express', 'Pollo glaseado en salsa teriyaki sin azÃºcar con arroz de coliflor.', 22.00, 390.00, 
40.00, 15.00, 10.00, TRUE),
 (1, 'Omelette Fit', 'Omelette de 3 claras y 1 yema con espinaca y champiÃ±ones.', 13.00, 220.00, 24.00, 5.00, 8.00, 
TRUE);

-- 10. Insertar el CatÃ¡logo para PrimeFit (negocio_id = 2)
VALUES
 (2, 'Prime Beef Bowl', 'Lomo de res a la plancha, arroz integral y espÃ¡rragos.', 28.00, 600.00, 45.00, 50.00, 15.00, 
TRUE),
 (2, 'SalmÃ³n Grillado Keto', 'Filete de salmÃ³n fresco con ensalada de pepino y vinagreta de limÃ³n.', 32.00, 450.00, 
38.00, 5.00, 25.00, TRUE),
 (2, 'Pasta Proteica de Pollo', 'Pasta a base de lentejas con trozos de pechuga en salsa roja.', 24.00, 520.00, 50.00, 
60.00, 8.00, TRUE),
 (2, 'Wrap Prime Vegano', 'Tortilla de espinaca con hummus, tofu, zanahoria y lechuga.', 18.00, 340.00, 18.00, 40.00, 
12.00, TRUE),
 (2, 'AtÃºn Sellado con SÃ©samo', 'MedallÃ³n de atÃºn con costra de sÃ©samo y vegetales al wok.', 29.00, 380.00, 
42.00, 12.00, 14.00, TRUE);

-- Resincronizar secuencias
SELECT setval(pg_get_serial_sequence('plato', 'id'), (SELECT MAX(id) FROM plato));
SELECT setval(pg_get_serial_sequence('usuario', 'id'), (SELECT MAX(id) FROM usuario));
ALTER TABLE plato ADD COLUMN etiquetas VARCHAR(255);
ALTER TABLE plato ADD COLUMN imagen_url VARCHAR(1000);

CREATE TABLE estadisticas_historicas (
    id SERIAL PRIMARY KEY,
    fecha VARCHAR(7) NOT NULL, -- Format: YYYY-MM
    mrr DECIMAL(10,2) NOT NULL,
    churn_rate DECIMAL(5,2) NOT NULL,
    nuevos_negocios INT NOT NULL
);

CREATE TABLE suscripcion (
    id SERIAL PRIMARY KEY,
    negocio_id INT NOT NULL,
    plan VARCHAR(50) NOT NULL,
    estado_pago VARCHAR(50) NOT NULL, -- e.g., 'AL_DIA', 'VENCIDO', 'FALLIDO'
    proximo_cobro TIMESTAMP,
    stripe_subscription_id VARCHAR(255),
    stripe_customer_id VARCHAR(255),
    CONSTRAINT fk_suscripcion_negocio FOREIGN KEY (negocio_id) REFERENCES negocio(id) ON DELETE CASCADE
);

-- Populate some mock historical data for reports
('2026-01', 500.00, 1.2, 5),
('2026-02', 650.00, 1.5, 8),
('2026-03', 850.00, 2.0, 12),
('2026-04', 1100.00, 1.8, 15),
('2026-05', 1450.00, 2.2, 20),
('2026-06', 1900.00, 2.4, 25);

ALTER TABLE estadisticas_historicas ALTER COLUMN id TYPE BIGINT;
ALTER TABLE suscripcion ALTER COLUMN id TYPE BIGINT;
ALTER TABLE suscripcion ALTER COLUMN negocio_id TYPE BIGINT;


